# Server Configuration
PORT=8000

# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gogzxe7.mongodb.net/global_event_finder?appName=Cluster0

# News Data Sources
NEWSAPI_KEY=your_newsapi_key_here
